.title-td-container {
  display: flex;
  overflow: hidden;
  min-width: 0;
  .issue-item-text {
    overflow: hidden;
    min-width: 0;
    .title-wrap {
      overflow: hidden;
      display: flex;
      align-items: center;
      gap: 8px;
      min-width: 0; // 关键：让内部可以ellipsis
      .issue-title {
        margin-bottom: 0;
        font-weight: 600; // 标题加粗
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: block;
        max-width: 100%;
        .issue-no {
          color: #1890ff;
          // font-size: small;
        }
      }
    }
    .des {
      font-size: 12px; // 描述变小
      color: #999; // 变灰
      margin-top: 2px;
    }
  }
  .issue-item-img {
    flex-shrink: 0;
    margin-left: auto;
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 8px;
    border: 1px solid #f0f0f0;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover; /* 核心 */
      object-position: center; /* 可选：居中裁剪 */
    }
  }
}

.participant-inline {
  font-size: 12px;
  color: gray;
  font-weight: 400;

  max-width: 100%;
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.issue-item-row {
  cursor: pointer;

  &.selected-row > td:first-child {
    border-left: 4px solid #91d5ff;
  }

  &.selected-row:hover > td {
    background-color: #e6f7ff;
  }

  &.selected-row > td {
    background-color: #e6f7ff;
  }
}

.preview-float {
  padding: 6px;
  position: fixed;
  z-index: 1000;
  pointer-events: none;

  width: 320px;
  height: 200px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #fff;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

.preview-float img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

::ng-deep .issue-tooltip-popover .ant-popover-inner {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
}

::ng-deep .issue-tooltip-popover .ant-popover-inner-content {
  color: #fff;
  font-size: 1rem;
  padding: 8px 6px;
}

::ng-deep .issue-tooltip-popover .ant-popover-arrow-content {
  background-color: rgba(0, 0, 0, 0.8);
}
