<nz-table [nzData]="rdItems()" [nzFrontPagination]="false" [nzShowPagination]="false" [nzShowSizeChanger]="true"
    [nzScroll]="{ y: '520px' }" class="rd-list">
    <thead>
        <tr>
            <th nzWidth="7%">编号</th>
            <th nzWidth="20%">研发项</th>
            <th nzWidth="8%">阶段</th>
            <th nzWidth="8%">状态</th>
            <th nzWidth="8%">优先级</th>
            <th nzWidth="8%">负责人</th>
            <th nzWidth="11%">进度</th>
            <th nzWidth="12%">更新时间</th>
            <th nzWidth="6%">操作</th>
        </tr>
    </thead>
    <tbody>
        @for(item of rdItems(); track item.id){
        <tr (click)="selectItem.emit(item)" [style.background-color]="item.id == selectedItem()?.id ? '#1890ff24' : ''">
            <td>{{ item.rdNo }}</td>
            <td> <span class="rd-title"> {{ item.title }} </span></td>
            <td>{{ item.stageName || '-' }}</td>
            <td> <nz-tag nzColor="default"> {{ getStatusLabel(item.status)}}</nz-tag> </td>
            <td> <nz-tag [nzColor]="getPriorityColor(item.priority)">{{getPriorityLabel(item.priority)}}</nz-tag></td>
            <td>{{ item.assigneeName || '-' }}</td>
            <td> <nz-progress [nzPercent]="item.progress" nzSize="small" /> </td>
            <td>{{ item.planEndAt }}</td>
            <td><button nz-button nzType="link">操作</button></td>
        </tr>
        }
    </tbody>
</nz-table>