.toolbar {
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  padding: 16px;
  .search-form {
    width: 62%;

    // flex: 1;
    margin-right: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    // justify-content: space-between;

    .form-item {
      width: 30%;
      // min-width: 265px;
      // max-width: 230px;
      flex-grow: 1;
      margin-bottom: 0px;
    }
    .search-box {
      width: 100%;
      // padding-right: 60%;
      // padding: 0 20%;
    }
  }
  .right-col {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    .view-type {
      display: flex;
      justify-content: end;
    }
  }
}
