.toolbar {
  border: 1px solid #f0f0f0;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  padding: 16px;
  .search-form {
    // width: 62%;

    flex: 1;
    margin-right: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    // justify-content: space-between;

    .form-item {
      // width: 30%;
      width: 285px;
      min-width: 285px;
      // max-width: 230px;
      // flex-grow: 1;
      margin-bottom: 0px;
    }
    .search-row {
      width: 100%;
      .search-box {
        width: 380px;
      }
    }
  }
  .right-col {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    .view-type {
      margin-top: auto;
      display: flex;
      justify-content: end;
    }
  }
}

::ng-deep .ant-table-thead.ng-star-inserted{
  position: sticky;
  top: 0; 
  z-index: 100;
}
