.rd-action-area {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  .action-empty {
    color: gray;
    font-size: 0.9rem;
  }
  .delete-btn {
    margin-left: auto;
  }
  .progress-wrap {
    width: 100%;
    margin-top: 8px;
    padding: 1rem;
    border: 1px solid #f0f0f0;
    border-radius: 10px;
    .progress-head {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .progress-actions {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: end;
      gap: 1rem;
    }
  }
}
