.deps-page {
    padding: 16px;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

/* header */
.page-header {
    margin-bottom: 18px;
    flex: 0 0 auto;

    .title {
        font-size: 22px;
        font-weight: 600;
    }

    .actions {
        display: flex;
        align-items: center;
        gap: 10px;

        button[nz-button] {
            border-radius: 18px;
        }

        nz-input-wrapper {
            width: 220px;
            border-radius: 18px;
        }
    }
}

.page-content {
    flex: 1 1 auto;
    overflow: hidden auto;
    height: 0;
}

/* content panel */
.panel {
    border-radius: 10px;
    padding: 16px 18px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
}

.group-title {
    font-size: 18px;
    font-weight: 600;
    margin: 6px 0 12px;
    opacity: 0.65;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* row */
.row {
    border-radius: 10px;

    &:hover {
        box-shadow: 0 4px 12px rgba(0, 0, 0, .1);
        background: var(--app-primary-3);
    }
}

.row-inner {
    padding: 10px 12px;
}

/* left */
.left {
    display: flex;
    align-items: center;
    gap: 12px;

    .pkg-icon {
        width: 34px;
        height: 34px;
        border-radius: 8px;
        opacity: 0.65;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

    .pkg {
        .name {
            font-weight: 600;
            line-height: 18px;
        }

        .sub {
            margin-top: 2px;
            font-size: 12px;
            opacity: 0.55;

            .sep {
                margin: 0 6px;
            }
        }
    }
}

/* middle */
.mid {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    .detail {
        display: inline-flex;
        align-items: center;
        gap: 4px;
        color: var(--text-color-primary);
    }
}

/* right */
.right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 6px;
}

.empty {
    padding: 16px 0;
    text-align: center;
    // color: rgba(0, 0, 0, 0.45);
}