<nz-layout class="app-layout">
  @if (visible()) {
    <div
      class="ws-banner-wrap"
      [class.leaving]="leaving()"
      (transitionend)="onWrapTransitionEnd($event)"
    >
      <div
        class="ws-banner-inner"
        [class.leaving]="leaving()"
        (animationend)="onInnerAnimationEnd($event)"
      >
        <ngm-header></ngm-header>
      </div>
    </div>
  }
  <nz-layout class="app-content">
    <ngm-sidebar></ngm-sidebar>
    <nz-layout>
      <nz-content>
        <div class="inner-content">
          <router-outlet></router-outlet>
        </div>
      </nz-content>
    </nz-layout>
  </nz-layout>

  <ngm-footer></ngm-footer>
</nz-layout>
