.toolbar {
  border: 1px solid #f0f0f0;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  padding: 16px;
  .filter-group {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: space-between;
    .keyword-wrap {
      width: 100%;
    }
  }
  .status-filter-wrap {
    min-width: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  .right-col {
    height: 100%;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    .view-type {
      display: flex;
      justify-content: end;
    }
  }
}
