<div class="list-card">
  <div class="topbar">
    <nz-input-wrapper>
      <nz-icon class="search-icon" nzInputPrefix nzType="search" />
      <input
        nz-input
        placeholder="搜索任务（name）"
        [ngModel]="keyword()"
        (ngModelChange)="keyword.set($event)"
      />
    </nz-input-wrapper>
    <button nz-button (click)="state.refresh()" nzType="text">
      <span nz-icon nzType="reload"></span>
    </button>
  </div>
  <div class="items-container">
    @if (loading()) {
    <div class="hint">Loading...</div>
    } @else { @if (list().length === 0) {
    <div class="hint">No tasks for project: {{ projectId() }}</div>
    } @else {
    <div class="items">
      @for (t of list(); track t.spec.id) {
      <div
        class="item"
        [class.active]="t.spec.id === selectedId()"
        (click)="state.select(t.spec.id)"
      >
        <div class="row" nz-tooltip="{{ t.spec.description || '' }}" nzTooltipPlacement="right">
          <div class="icon">
            <nz-icon nzType="codepen-circle" nzTheme="outline" />

            @if (t?.runtime?.status === 'running') {
            <nz-badge nzStatus="processing" />
            } @else if (t?.runtime?.status === 'stopping') {
            <nz-badge nzStatus="warning" />
            } @else {
            <nz-badge nzStatus="default" />
            }
          </div>

          <div class="info">
            <div class="name" [title]="t.spec.name">{{ t.spec.name }}</div>
            <div class="description">
              {{
                t.runtime?.status === 'running'
                  ? '运行中'
                  : t.runtime?.status === 'stopping'
                  ? '停止中'
                  : t.runtime?.status === 'stopped'
                  ? '已停止'
                  : t.spec.description || '空闲中'
              }}
            </div>
          </div>
        </div>
      </div>
      }
    </div>
    } }
  </div>
</div>
