<nz-drawer [nzVisible]="open" nzTitle="任务日志" [nzWidth]="720" (nzOnClose)="close.emit()">
  <ng-container *nzDrawerContent>
    <div class="log-toolbar">
      <nz-space>
        <nz-tag>Task: {{ taskId }}</nz-tag>
        <button nz-button nzSize="small" (click)="clear.emit()">
          <span nz-icon nzType="delete"></span> 清空
        </button>
      </nz-space>
    </div>

    <div class="log">
      @for (l of lines; track l) {
      <div class="line" [class.err]="l.type === 'stderr'">
        <span class="time">{{ l.time | date : 'HH:mm:ss' }}</span>
        <span class="msg">{{ l.message }}</span>
      </div>
      }
    </div>
  </ng-container>
</nz-drawer>
