<nz-sider
  class="menu-sidebar"
  nzCollapsible
  nzWidth="256px"
  nzBreakpoint="md"
  [(nzCollapsed)]="isCollapsed"
  [nzTrigger]="null"
>
  <!-- <div class="sidebar-logo">
    <a href="https://ng.ant.design/" target="_blank">
      <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo" />
      <h1>Ant Design Of Angular</h1>
    </a>
  </div> -->
  <div class="header">
    <ngm-project-nav></ngm-project-nav>
  </div>
  <div class="content">
    <ngm-menu [isCollapsed]="isCollapsed"></ngm-menu>
  </div>
</nz-sider>
