@import 'mixin';

.themeMixin({
  :host {
    .sidebar-logo {
      background: var(--ant-primary-1);

      h1 {
        color: var(--ant-text-color);
      }
    }
  }
});

:host {
  display: block;
  box-sizing: border-box;
  position: relative;
  z-index: 10;
  box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
  width: 256px;
  transition: all 0.2s;
  flex: 0 0 auto;

  &.collapsed {
    width: 80px;
  }
}

.menu-sidebar {
  height: 100%;

  ::ng-deep .ant-layout-sider-children {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  ::ng-deep .ant-menu-inline {
    border-right: none;
  }

  .header {
    flex: 0 0 auto;
  }

  .content {
    flex: 1 1 auto;
    height: 0;
    display: flex;
    flex-direction: column;

    ngm-menu {
      flex: 1 1 auto;
      height: 0;
    }

    button {
      margin: 12px;
      flex: 0 0 auto;

      &:hover {
        background-color: var(--app-primary-2);
      }
    }
  }
}

.sidebar-logo {
  position: relative;
  height: 64px;
  padding-left: 24px;
  overflow: hidden;
  line-height: 64px;
  transition: all 0.3s;
}

.sidebar-logo img {
  display: inline-block;
  height: 32px;
  width: 32px;
  vertical-align: middle;
}

.sidebar-logo h1 {
  display: inline-block;
  margin: 0 0 0 20px;
  font-weight: 600;
  font-size: 14px;
  font-family: Avenir, Helvetica Neue, Arial, Helvetica, sans-serif;
  vertical-align: middle;
}


.item {
  ::ng-deep .ant-menu-title-content {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  a {
    color: var(--app-text-color);
    display: flex;
    width: 100%;
    align-items: center;
    gap: 8px;
  }
}