@margin-md: 17px;
@font-size-base: 16px;

:root {
    --app-text-color: @text-color;
    --app-primary-1: @primary-1;
    --app-primary-2: @primary-2;
    --app-primary-3: @primary-3;
}

// .__debug_default1 {
//     c1: @primary-color;
//     c2: @text-color;
//     c3: @component-background;
//     c4: @primary-3;
// }