@margin-md: 17px;
@font-size-base: 16px;

:root {

    --app-gray: @info-color-deprecated-bg;
    --app-primary: @primary-color;
    --app-primary-1: @primary-1;
    --app-primary-2: @primary-2;
    --app-primary-3: @primary-3;
    --app-primary-4: @primary-4;
    --app-primary-5: @primary-5;
    --app-primary-6: @primary-6;

    --app-text-color: @text-color;
    --app-text-secondary: @text-color-secondary;

    --text-color-primary: @primary-color;

    --app-component-bg: @component-background;

    --app-border-color: @border-color-base;

    --header-error-background: @error-color;

}

// .__debug_default1 {
//     c1: @primary-color;
//     c2: @text-color;
//     c3: @component-background;
//     c4: @primary-3;
// }