@import (multiple) '../../../node_modules/ng-zorro-antd/src/style/themes/default';
@import './base';
@layout-sider-background: @white;
@layout-trigger-background: @white;
@layout-header-background: @white;
@layout-body-background: @white;

// 灰色文字
@text-color-gray: #888;

:root {
    --text-color-gray: @text-color-gray;
}