@import (multiple) '../../../node_modules/ng-zorro-antd/style/themes/default';
@import './base';

@layout-sider-background: @app-gray-900;
@layout-header-background: @app-white;
@layout-trigger-background: @app-white;

@menu-dark-bg: @app-gray-900;
@menu-dark-item-active-bg: @app-primary-600;
@menu-dark-item-hover-bg: fade(@app-white, 8%);
@menu-dark-color: fade(@app-white, 88%);
@menu-dark-highlight-color: @app-white;

@select-item-selected-bg: @app-primary-50;
@select-item-active-bg: @app-gray-50;
@select-dropdown-bg: @app-white;

