:host {
    display: flex;
    padding: 16px;

    .project-quick-dropdown {
        flex: 1;
        width: 100%;
        display: flex;
        align-items: center;
        gap: 8px;
        justify-content: center;
        border-radius: 20px;
        font-weight: 500;

        span {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

.item {
    ::ng-deep .ant-menu-title-content {
        display: flex;
        align-items: center;
        gap: 8px;
        overflow: hidden;

        span {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    a {
        color: var(--app-text-color);
        display: flex;
        width: 100%;
        align-items: center;
        gap: 8px;
    }
}