<app-dialog-shell
  [open]="open()"
  [width]="1040"
  [title]="project() ? '项目配置 · ' + project()!.name : '项目配置'"
  [subtitle]="'维护环境、版本、研发阶段和 API Token。'"
  [icon]="'setting'"
  (cancel)="cancel.emit()"
>
  <div dialog-body class="config-dialog">
    <nz-tabs nzSize="small" [nzDestroyInactiveTabPane]="false">
      <nz-tab nzTitle="环境">
        <app-project-config-environments-tab
          [busy]="busy()"
          [environments]="environments()"
          [pendingEnvironmentIds]="pendingEnvironmentIds()"
          [canManageConfig]="canManageConfig()"
          (createEnvironment)="createEnvironment.emit($event)"
          (updateEnvironment)="updateEnvironment.emit($event)"
          (removeEnvironment)="removeEnvironment.emit($event)"
        />
      </nz-tab>

      <nz-tab nzTitle="版本">
        <app-project-config-versions-tab
          [busy]="busy()"
          [versions]="versions()"
          [pendingVersionIds]="pendingVersionIds()"
          [canManageConfig]="canManageConfig()"
          (createVersion)="createVersion.emit($event)"
          (updateVersion)="updateVersion.emit($event)"
          (removeVersion)="removeVersion.emit($event)"
        />
      </nz-tab>

      <nz-tab nzTitle="阶段与任务模板">
        <app-project-config-rd-stages-tab
          [busy]="busy()"
          [project]="project()"
          [stages]="stages()"
          [stageTaskTemplates]="stageTaskTemplates()"
          [pendingStageIds]="pendingStageIds()"
          [pendingStageTaskTemplateIds]="pendingStageTaskTemplateIds()"
          [canManageConfig]="canManageConfig()"
          (createStage)="createStage.emit($event)"
          (updateStage)="updateStage.emit($event)"
          (createStageTaskTemplate)="createStageTaskTemplate.emit($event)"
          (updateStageTaskTemplate)="updateStageTaskTemplate.emit($event)"
        />
      </nz-tab>

      <nz-tab nzTitle="API Token">
        <app-project-config-api-tokens-tab
          [busy]="busy()"
          [apiTokens]="apiTokens()"
          [latestCreatedToken]="latestCreatedToken()"
          [pendingTokenIds]="pendingTokenIds()"
          [canManageConfig]="canManageConfig()"
          (createApiToken)="createApiToken.emit($event)"
          (revokeApiToken)="revokeApiToken.emit($event)"
          (copyLatestToken)="copyLatestToken.emit($event)"
          (clearLatestToken)="clearLatestToken.emit()"
        />
      </nz-tab>
    </nz-tabs>
  </div>

  <ng-container dialog-footer>
    <button nz-button type="button" (click)="cancel.emit()">关闭</button>
  </ng-container>
</app-dialog-shell>
