<section>
  <div class="btn-group">
    <button nz-button nzType="default" (click)="goBack()">
      <i nz-icon nzType="arrow-left"></i>返回
    </button>
    <ng-container>
      @if (headerData().status == 'draft') {
        <button 
          nz-button 
          nzType="primary" 
          (click)="goEdit()"
        >
          <i nz-icon nzType="edit"></i>编辑
        </button>
      }
    </ng-container>
  </div>
  <!-- 顶部信息 -->
  <app-process-header-card [data]="headerData()" />
  <section class="travel-layout">
    <!-- 主区域 -->
    <div class="travel-layout__main">
      <!-- 单据内容 -->
      <div class="card query-card">
        <div class="query-card__label">单据内容</div>
        <app-expense-preview [formData]="formData()" />
      </div>
      <!-- 附件 -->
      <div class="card query-card">
        <div class="query-card__label">附件材料</div>
        @if (hasAttachments()) {
        <app-attachment-preview-wall
          [items]="attachmentItems()"
          [showMeta]="true"
          [removable]="false"
        />
        } @else {
        <div class="query-card__content">暂无附件</div>
        }
      </div>

      <!-- 操作记录 -->
      <div class="card query-card">
        <div class="query-card__label">操作记录</div>
        <app-record-list [records]="recordListData()" />
      </div>
    </div>

    <!-- 右侧审批流 -->
    <aside class="report-layout__side">
      <div class="card query-card">
        <div class="query-card__label">审批流程预览</div>
        <app-approval-flow
          [approvalPreview]="approvalPreview()"
          (action)="handleApprovalAction($event)"
        />
      </div>
    </aside>
  </section>
</section>
