/* content panel */
.panel {
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
    display: flex;

    app-config-nav-component {
        flex: 0 0 300px;
    }

    .content {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        padding: 8px 16px;

        app-config-section-component {
            flex: 1 1 auto;
            overflow: hidden;
        }

        app-config-change-bar-component {
            flex: 0 0 auto;
            position: sticky;
            bottom: 0;
        }
    }
}