.conf-page {
    padding: 16px;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

/* header */
.page-header {
    margin-bottom: 18px;
    flex: 0 0 auto;

    .title {
        font-size: 22px;
        font-weight: 600;
    }

    .actions {
        display: flex;
        align-items: center;
        gap: 10px;

        button[nz-button] {
            border-radius: 18px;
        }
    }
}

.page-content {
    flex: 1 1 auto;
    overflow: hidden auto;
    height: 0;
}

/* content panel */
.panel {
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
    display: flex;

    app-config-nav-component {
        flex: 0 0 300px;
    }

    .content {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        padding: 8px 16px;

        app-config-section-component,
        app-config-domain-docs {
            flex: 1 1 auto;
            overflow: hidden;
        }

        app-config-change-bar-component {
            flex: 0 0 auto;
        }
    }
}