<app-page-layout [title]="'测试跟踪'" [loading]="loading()" [isFullscreen]="true" [isOverflowYAuto]="false">
    <div class="issues-content">

        <!-- 过滤 -->
        <div class="filter-container">
            <app-issue-filter-bar [query]="query()" (queryChange)="updateQuery($event)"></app-issue-filter-bar>
        </div>

        <!-- 列表 -->
        <div class="list-content">
            @if(viewType() === 'list') {
            <app-issues-list-table [issues]="issues()" [selectedItem]="selectedIssue()" [projectId]="currentProjectId()"
                [loading]="loading()" (selectItem)="selectIssue($event)"></app-issues-list-table>
            } @else {

            }
            <div class="pagination-bar">
                <nz-pagination [(nzPageIndex)]="query().page" [nzTotal]="total()" [nzShowTotal]="totalTemplate"
                    [nzPageSize]="query().pageSize" nzShowSizeChanger nzShowQuickJumper
                    (nzPageIndexChange)="onPageChange($event)" (nzPageSizeChange)="onPageSizeChange($event)" />
                <ng-template #totalTemplate let-total>共 {{ total }} 条记录</ng-template>
            </div>
        </div>
    </div>

    <app-issue-detail [open]="open()" (close)="closeIssueDetail()"></app-issue-detail>
</app-page-layout>