<app-page-layout [title]="'研发项'" [loading]="loading()" [isFullscreen]="true" [isOverflowYAuto]="false">
    <div class="rd-content">
        <div class="filter-container">
            <app-rd-filter-bar [query]="query()" [stages]="stages()" [(viewType)]="viewType"
                (openCreateDialog)="openCreateDialog()" (valueChange)="updateQueryByFilter($event)"></app-rd-filter-bar>
        </div>

        <!-- 列表 -->
        <div class="list-content">
            @if(viewType() === 'list') {
            <app-rd-list-table [rdItems]="pageRdItems()" [query]="query()" [selectedItem]="currentRdItem()"
                [members]="members()" [stages]="stages()" [projectId]="currentProjectId()"
                (selectItem)="selectItem($event)"></app-rd-list-table>
            } @else {
            <app-rd-list-board [rdItems]="pageRdItems()" [projectId]="currentProjectId()"
                [selectedItem]="currentRdItem()" [stages]="stages()" [members]="members()"
                (selectItem)="selectItem($event)"></app-rd-list-board>
            }
        </div>
        <div class="pagination-bar">
            <nz-pagination [nzPageIndex]="query().page" [nzTotal]="total()" [nzShowTotal]="totalTemplate"
                [nzPageSize]="query().pageSize" nzShowSizeChanger nzShowQuickJumper
                (nzPageIndexChange)="onPageChange($event)" (nzPageSizeChange)="onPageSizeChange($event)" />
            <ng-template #totalTemplate let-total>共 {{ total }} 条记录</ng-template>
        </div>
    </div>

    <!-- 新建 -->
    <!-- <app-rd-create-dialog [open]="createDialogOpen()" [stages]="stages()" [members]="members()"
        (cancel)="createDialogOpen.set(false)" (create)="createRd($event)"></app-rd-create-dialog> -->

    <!-- 详情 -->
    <app-rd-detail [open]="detailDrawerOpen()" [rdItem]="currentRdItem()" [progressList]="currentRdProgress()"
        [stageHistory]="currentRdStageHistory()" [members]="members()" [projectId]="currentProjectId()" [busy]="busy()"
        [logs]="currentRdLogs()" [stages]="stages()" [loading]="currentRdLoading()"
        (actionClick)="handleSelectedAction($event)" (close)="closeDetail()"
        (updateProgressClick)="openProgressUpdate($event)" (deleteClick)="deleteSelectedItem()">
    </app-rd-detail>

    <!-- 阻塞弹窗 -->
    <app-rd-block-dialog [open]="blockOpen()" [busy]="busy()" [item]="blockingItem()" (cancel)="closeBlockDialog()"
        (confirm)="confirmBlock($event.blockerReason)" />

    <!-- 推进弹窗 -->
    <app-rd-advance-stage-dialog [open]="advanceStageOpen()" [busy]="busy()" [item]="currentRdItem()"
        [stages]="stages()" (cancel)="advanceStageOpen.set(false)" (confirm)="confirmAdvanceStage($event.stageId)" />

    <!-- 进度调节弹窗 -->
    <app-rd-progress-dialog [open]="progressUpdateOpen()" [busy]="busy()" [rdItem]="currentRdItem()"
        [progress]="progressUpdateItem()" (cancel)="progressUpdateOpen.set(false)"
        (confirm)="confirmProgressUpdate($event)"></app-rd-progress-dialog>
</app-page-layout>