.rd-content {
  width: 100%;
  min-width: 630px;
  height: 100%;
  padding: 16px 48px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  .filter-container {
    width: 100%;
  }

  .list-content {
    width: 100%;
    // height: 100%;
    min-height: 0;
    // ng-zorro风格边框加圆角
    border-radius: 8px;
    border: 1px solid #f0f0f0;
    flex-grow: 1;
    overflow: auto;

    // ng-zorro风格滚动条样式
    &::-webkit-scrollbar {
      width: 6px;
      height: 6px;
    }

    &::-webkit-scrollbar-track {
      background: #f0f0f0;
      border-radius: 3px;
    }

    &::-webkit-scrollbar-thumb {
      background: #d9d9d9;
      border-radius: 3px;

      &:hover {
        background: #bfbfbf;
      }
    }
  }

  .pagination-bar {
    width: 100%;
    padding: 12px;
    display: flex;
    justify-content: end;
  }
}
