:host {
  display: block;
}

/* ===== 主体卡片内容 ===== */
.main-progress-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;

  .main-progress-info {
    margin-left: 4px;
    display: flex;
    flex-direction: column;
    .main-progress-label {
      font-size: 14px;
      font-weight: 500;
      color: #262626;
    }

    .main-progress-hint {
      font-size: 12px;
      color: #8c8c8c;
    }
  }

  .main-progress-data {
    font-size: 28px;
    font-weight: 600;
    color: #262626;
  }
}

/* 主进度条 */
.progress-bar {
  margin-bottom: 16px;
}

/* ===== 成员列表 ===== */
.progress-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* ===== 单个成员卡片 ===== */
.progress-item {
  background: #fafafa;
  border-radius: 8px;
  padding: 12px 16px;
  transition: all 0.2s ease;
  border: 1px solid transparent;

  &:hover {
    background: #f5faff;
    border-color: #d6e4ff;
  }
}

/* ===== header 行 ===== */
.progress-item-header {
  display: flex;
  align-items: center;
  gap: 12px;
}

/* 成员信息 */
.member-info {
  display: flex;
  flex-direction: column;
  min-width: 120px;
  margin-right: 50px;
}

.member-name {
  font-size: 14px;
  font-weight: 500;
  color: #262626;
}

.member-hint {
  font-size: 12px;
  color: #8c8c8c;
}

/* header里的进度条 */
.progress-item-header nz-progress {
  flex: 1;
  margin-left: 12px;
}

/* ===== footer ===== */
.progress-item-footer {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* 进度说明 */
  .note-row {
    font-size: 12px;
    color: #595959;
  }

  .note-label {
    color: #8c8c8c;
  }

  .note {
    margin-left: 4px;
  }
}

/* 右侧操作区 */
.progress-item-actions {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 8px;

  button {
    border-radius: 6px;
  }
}

/* 空状态 */
.empty {
  text-align: center;
  color: #bfbfbf;
  padding: 24px 0;
}
