.page{
  height: 100%;
}
.page-tasks {
  flex-direction: row;
  gap: 8px;
  height: 100%;
  app-task-list {
    flex: 0 0 320px;
    width: 320px;
  }
  app-task-console {
    flex: 1;
  }
  .content{
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 16px;
    height: 100%;
  }
}
