<nz-layout class="page">
  <nz-layout class="page-tasks">
    <app-task-list></app-task-list>
    <nz-content class="content">
      <app-task-header></app-task-header>
      <app-task-actions></app-task-actions>
      <app-task-console [taskId]="'1'"></app-task-console>
    </nz-content>
  </nz-layout>
  <app-task-log></app-task-log>
  <!-- <nz-card nzTitle="Tasks" [nzBodyStyle]="{ padding: '0' }"> -->
  <!-- <nz-table
      #tb
      [nzData]="rows()"
      [nzFrontPagination]="false"
      [nzShowPagination]="false"
      nzSize="middle"
    >
      <thead>
        <tr>
          <th style="width: 44px"></th>
          <th>任务</th>
          <th style="width: 120px">分组</th>
          <th style="width: 140px">状态</th>
          <th style="width: 260px">操作</th>
        </tr>
      </thead>

      <tbody>
        @for (r of tb.data; track r.def.id) {
        <tr>
          <td>
            <app-task-status-badge [status]="r.rt.status"></app-task-status-badge>
          </td>

          <td>
            <div class="task-title">
              <div class="name">{{ r.def.name }}</div>
              <div class="id">{{ r.def.id }}</div>
            </div>
          </td>

          <td>
            @if(r.def.group){
            <nz-tag>{{ r.def.group }}</nz-tag>
            }@else{ — }
          </td>

          <td>
            <nz-tag [nzColor]="facade.statusColor(r.rt.status)">
              {{ r.rt.status }}
              @if(r.rt.pid){
              <span> · PID {{ r.rt.pid }}</span>
              }
            </nz-tag>
          </td>
          <td>
            <app-task-actions
              [row]="r"
              (run)="facade.run(r.def.id)"
              (stop)="facade.stop(r.def.id)"
              (log)="openLog(r)"
            ></app-task-actions>
          </td>
        </tr>
        }
      </tbody>
    </nz-table> -->
  <!-- </nz-card> -->
</nz-layout>
